.food-time {}


.food-time ul {
    justify-content: center;
}

.food-time ul li {
    list-style: none;
    padding-right: 3em;
}

.food-time a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    position: relative;

}

.food-time .active a {
    color: #F91944;
}

.food-time .active :after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: #F91944;
    color: #F91944;
}

.food-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 2rem 5rem;
}

.food-items img {
    width: 50%;
}

.food-items .item {
    text-align: center;
    /* border: 1px solid #cccccc24; */
    padding: 1.5rem;
    border-radius: 1.5rem;
    transition: box-shadow 0.5s;
}

.food-items .item:hover {
    /* border: none; */
    box-shadow: 6px 6px 45px -12px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 6px 6px 45px -12px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 6px 6px 45px -12px rgba(0, 0, 0, 0.73);
}

.item h5 {
    font-size: 1.2rem;
}

.food-info {
    display: inline-grid;
    justify-items: center;
    margin-top: 1rem;
}

.item .price {
    font-weight: 700;
    background-color: #f91944;
    width: 30%;
    border-radius: 1rem;
    color: white;
}

.checkout-div {
    text-align: center;
}

.checkout-btn {
    width: 12em;
    height: 2.5em;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 0.3em;
}

.checkout-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.checkout-btn:active {
    color: gray
}

.checkout-btn:active:after {
    background: transparent;
}

.checkout-btn:hover:before {
    opacity: 1;
}

.checkout-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}







/* Media queries */
@media only screen and (max-width: 600px) {
    .food-time a {
        font-size: 1rem;

    }

    .food-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
        padding: 0;
    }

    .food-items img {
        width: 80%;
    }

    .item h5 {
        font-size: 1.5rem;
    }

    .food-info p {
        /* display: inline; */
        font-size: 13px;
    }

    .item .price {
        width: 50%;
        font-size: 13px;
    }


}