.footer {
    background-color: #191919;
    color: white;
}

.footer-nav,
.last-footer-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    padding: 0.3em 0;
}


.footer-nav a,
.last-footer-nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: padding-left .5s, color 0.5s;
}

.footer-nav li a:hover {
    color: #F91944;
    padding-left: 10px;
}

.last-footer-nav li {
    display: inline-block;
    padding-right: 3em;
}